* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightskyblue;
}

header {
    color: wheat; //!!ZMIENIĆ
    background-image: url(/images/person-holding-cup-coffee.jpg); //! ZMIENIC
    background-position: center center;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; 

    #header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        #logo-menu {
            margin-left: 10vh;
            margin-top: 3vh;
            max-width: 10vh;
        }

        i { //!! TUTAJ DO RESPONSIVE
            display: none;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 10vw;
            margin-right: 10vh;
            margin-top: 5vh;

            li {
                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: wheat; //!ZMIENIC KOLOR
            }


        }
    }

    #header-bottom {
        width: 100%;
        margin-left: 20vw;
        line-height: 1.6;

        h1 {
            font-size: 60px;
            line-height: 0.8;
        }

        q {
            font-size: 18px;
            margin-left: 5vh;
        }

        p{
            margin-top: 9px;
            font-size: 22px;
        }

        button {
          margin-top: 6px;
          font-size: 20px;
          width: 100%;
          max-width: 12vw;
        }
    }
}

//* media for header
@media (max-width: 684px) {
    #header-bottom button {
        font-size: 14px;
        width: 100%;
        max-width: 8vw;
    }
}
