#header-bottom {
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(59, 45, 30, 0.5), rgba(151, 140, 128, 0.6)), url("images/coffee-beans-backgound-header.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 100%;
    max-width: 36vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 5vh auto;
    padding: 5vh;
    background: rgba(254, 229, 204,0.3);
    border-radius: 3px 60px;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

form:not(#footer-form) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    width: 100%;
    max-width: 20vw;
}


.input-label {
    position: relative;
    width: 100%;
}

.input, select {
    padding: 0.5vw;
    width: 100%;
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
}

select {
    border-radius: 20px;
}

.label {
    position: absolute;
    top: 10px;
    left: 8px;
    transition: all 0.3s;
    font-size: 22px;
}

.input:focus + .label, .input:not(:placeholder-shown) + .label {
    top: -10px;
    font-weight: bold;
    background: white;
    border-radius: 16px;
    font-size: 18px;
    padding: 0 2px;
}

.buttons-form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.buttons-form button{
    font-size: 20px;
    border-radius: 16px;
    width: 100%;
    max-width: 8vw;
    height: 4vh;
    font-weight: 700;
    border: 2px solid black;
    background-color: rgba(254, 229, 204,0.3);
    transition: background-color 0.5s ease;
}

.buttons-form button:hover {
    background-color: #fee5cc;
    cursor: pointer;
}


