#header-bottom {
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(59, 45, 30, 0.5), rgba(151, 140, 128, 0.6)), url("images/coffee-beans-backgound-header.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 5vh auto;
    padding: 5vh;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 56vw;
    padding: 2vw;
    background: rgba(254, 229, 204,0.3);
    border-radius: 3px 60px;
}

.menu-wrapper p:not(.product-txt-container p) {
    font-size: 20px;
    margin-bottom: 4vh
}

.txt-content h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 2vh;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.icons .icons-content {
    transition: all 0.3s ease;
    
}

.icons .icons-content:hover, .icons-show {
    color: #fee5cc;
    transform: scale(1.2);
    text-shadow: 4px 4px 6px rgba(33, 29, 29, 1);
    cursor: pointer;
}

.icons .icons-content i {
    font-size: 40px;
}

.icons .icons-content p {
    font-weight: bold;
}

.menu-wrapper hr {
    background: black;
    height: 0.5vh;
    width: 22vw;
    margin: auto;
}

.menu-wrapper hr:last-of-type {
    margin-top: 10vh;
}

.menu-wrapper h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 5vh;
}

.img-container {
    width: 100%;
    max-width: 20vw;
    height: 30vh;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0.5px black solid;
    border-radius: 16px 16px 0 0;
}

.img-container .product-txt-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fee5cc;
    border-radius: 0 0 16px 16px;
    height: 6vh;
    position: relative;
    bottom: 6px;
}

.img-container .product-txt-container h4 {
    font-size: 18px;
}

.img-container .product-txt-container span {
    font-size: 18px;
    font-style: italic;
}

.img-container .product-txt-container p {
    font-size: 20px;
    font-weight: bold;
}

.menu-hidden {
    display: none !important;
}

.ri-magic-fill {
    position: relative;
    bottom: 120%;
    left: 3%;
    color: rgb(249, 194, 93);
    font-size: 40px;
    text-shadow: 2px 2px 3px rgba(33, 29, 29, 1);
}

/** menu content*/
.menu-new-content, .menu-coffee-content, .menu-dessert-content, .menu-drinks-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 15vh;
    justify-items: center;
    margin: 5vh 0;
}

.menu-new-content .img-container:nth-child(3), .menu-dessert-content .img-container:nth-child(5), .menu-drinks-content .img-container:nth-child(5) {
    grid-column: 1 / span 2;
    justify-self: center;
}

/*media menu-new-content */
@media (max-width: 1320px) {
    .menu-wrapper {
        max-width: 60vw;
    }

    .menu-new-content {
        grid-row-gap: 10vh;
    }

    .img-container {
        max-width: 24vw;
        height: 32vh;
    }
}

@media (max-width: 1170px) {
    .menu-wrapper {
        max-width: 62vw;
    }

    .img-container {
        max-width: 26vw;
        height: 34vh;
    }
}

@media (max-width: 1110px) {
    .menu-wrapper {
        max-width: 70vw;
    }

    .img-container {
        max-width: 30vw;
    }
}

@media (max-width: 980px) {
    h1 {
        font-size: 45px;
    }

    .menu-wrapper p:not(.product-txt-container p) {
        font-size: 18px;
    }

    .txt-content h2 {
        font-size: 28px;
    }

    .menu-wrapper {
        max-width: 78vw;
    }

    .img-container {
        max-width: 34vw;
    }
}

@media (max-width: 840px) {
    .menu-wrapper {
        padding: 4vw;
    }

    .menu-new-content, .menu-coffee-content, .menu-dessert-content, .menu-drinks-content {
        grid-template-columns: 1fr;
    }

    .menu-new-content .img-container:nth-child(3), .menu-dessert-content .img-container:nth-child(5), .menu-drinks-content .img-container:nth-child(5) {
        grid-column: auto;
    }

    .img-container {
        max-width: 38vw;
    }
}

@media (max-width: 720px) {
    .menu-wrapper {
        max-width: 86vw;
    }

    .img-container {
        max-width: 46vw;
    }
}

@media (max-width: 625px) {
    .menu-wrapper {
        max-width: 88vw;
    }

    .img-container {
        max-width: 50vw;
    }
}

@media (max-width: 530px) {
    .img-container {
        max-width: 58vw;
    }
}

@media (max-width: 480px) {
    .img-container {
        max-width: 64vw;
    }
}

@media (max-width: 430px) {
    .img-container {
        max-width: 68vw;
    }
}

/** menu-coffee-content */