#header-bottom {
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(59, 45, 30, 0.5), rgba(151, 140, 128, 0.6)), url("images/coffee-beans-backgound-header.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 5vh 0;
    padding: 5vh;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

.txt-content {
    width: 100%;
    max-width: 54vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(254, 229, 204,0.3);
    border-radius: 3px 60px;
    padding: 2vw;
}

.txt-content h2 {
    font-size: 30px;
    margin-bottom: 2vh;
}

.txt-content .source-list h3 {
    font-size: 25px;
    margin: 2vh 0;
    text-align: center;
}

.txt-content p {
    font-size: 20px;
    margin-bottom: 4vh;
}

.source-list ul li, .source-list ul li a {
    font-size: 20px;
    margin-bottom: 1vh;
}

.source-list ul li a {
    font-weight: bold;
    color: black;
    transition: color 0.3s ease;
}

.source-list ul li a:hover {
    color: #ce6b09;
}