#header-bottom {
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(59, 45, 30, 0.5), rgba(151, 140, 128, 0.6)), url("images/coffee-beans-backgound-header.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 5vh auto;
    padding: 5vh;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

.txt-content {
    width: 100%;
    max-width: 44vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(254, 229, 204,0.3);
    border-radius: 3px 60px;
    padding: 2vw;
}

.txt-content h2 {
    font-size: 30px;
    margin-bottom: 2vh;
}

.txt-content span {
    color: wheat;
    font-family: "Playwrite GB S", sans-serif;
    font-size: 33px;
    text-shadow: 3px 3px black;
}

.txt-content p {
    font-size: 20px;
    margin-bottom: 4vh;
}

.menu-shop-buttons {
    display: flex;
    justify-content: center;     
    gap: 4vw;
    width: 100%;
}

.menu-shop-buttons button {
    font-size: 22px;
    border-radius: 16px;
    width: 100%;
    max-width: 8vw;
    height: 5.5vh;
    font-weight: 700;
    border: 2px solid black;
    background-color: rgba(254, 229, 204,0.3);
    transition: background-color 0.5s ease;
}

.menu-shop-buttons button:hover {
    background-color: #fee5cc;
    cursor: pointer;
}

.img-content img {
    width: 100%;
    max-width: 450px;
    border-radius: 60px 3px;
    border: 0.5px black solid;
}


@media (max-width: 1250px) {
    header nav ul a {
        color: black;
    }
    
    header nav ul a::after {
        background: #fee5cc;
    }
}