#header-bottom {
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(59, 45, 30, 0.5), rgba(151, 140, 128, 0.6)), url("images/coffee-beans-backgound-header.jpg");
    background-position: center;
    background-size: cover;
}

section {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    margin: 5vh 0;
    padding: 5vh;
}

h1 {
    font-size: 50px;
    text-decoration: underline;
}

.txt-content {
    width: 100%;
    max-width: 54vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(254, 229, 204,0.3);
    border-radius: 3px 60px;
    padding: 2vw;
}

.txt-content h2 {
    font-size: 30px;
    margin-bottom: 2vh;
}

.txt-content span {
    color: wheat;
    font-family: "Playwrite GB S", sans-serif;
    font-size: 33px;
    text-shadow: 3px 3px black;
}

.txt-content p {
    font-size: 20px;
    margin-bottom: 4vh;
}

.menu-shop-buttons {
    display: flex;
    justify-content: center;     
    gap: 4vw;
    width: 100%;
}

.menu-shop-buttons button {
    font-size: 22px;
    border-radius: 16px;
    width: 100%;
    max-width: 8vw;
    height: 5.5vh;
    font-weight: 700;
    border: 2px solid black;
    background-color: rgba(254, 229, 204,0.3);
    transition: background-color 0.5s ease;
}

.menu-shop-buttons button:hover {
    background-color: #fee5cc;
    cursor: pointer;
}

.img-content {
    display: flex;
    gap: 2vw;
}

.img-content img {
    width: 100%;
    max-width: 500px;
    border-radius: 60px 3px;
    border: 0.5px black solid;
}

@media (max-width: 1690px) {
    .txt-content {
        max-width: 64vw;
    }

    .img-content img {
        max-width: 480px;
    }
}

@media (max-width: 1565px) {
    .img-content img {
        max-width: 460px;
    }
}

@media (max-width: 1460px) {
    .txt-content {
        max-width: 72vw;
    }

    .img-content img {
        max-width: 430px;
    }
}

@media (max-width: 1250px) {
    header nav ul a {
        color: black;
    }
    
    header nav ul a::after {
        background: #fee5cc;
    }
}

@media (max-width: 1220px) {
    h1 {
        font-size: 45px;
    }

    .txt-content h2 {
        font-size: 28px;
    }
    
    .txt-content span {
        font-size: 30px;
    }
    
    .txt-content p {
        font-size: 18px;
    }

    .menu-shop-buttons button {
        font-size: 20px;
        max-width: 10vw;
        height: 5vh;
    }

    .img-content img {
        max-width: 400px;
    }
}

@media (max-width: 1155px) {
    .txt-content {
        max-width: 76vw;
    }

    .img-content img {
        max-width: 380px;
    }
}

@media (max-width: 1000px) {
    .txt-content {
        max-width: 80vw;
    }

    .img-content img {
        max-width: 350px;
    }

    .menu-shop-buttons button {
        max-width: 12vw;
    }
}

@media (max-width: 880px) {
    .txt-content {
        max-width: 84vw;
    }

    .img-content img {
        max-width: 330px;
    }

    .txt-content p {
        font-size: 16px;
        margin-bottom: 2vh;
    }

    .menu-shop-buttons button {
        font-size: 18px;
    }
}

@media (max-width: 765px) {
    .txt-content {
        max-width: 88vw;
    }
}

@media (max-width: 730px) {
    .menu-shop-buttons button {
        max-width: 14vw;
        height: 4.5vh;
    }

    .img-content {
        flex-direction: column;
    }

    .img-content img {
        max-width: 380px;
    }

    .img-content img:first-of-type {
        margin-right: 10vw;
    }

    .img-content img:last-of-type {
        margin-left: 10vw;
    }
}

@media (max-width: 560px) {
    .menu-shop-buttons button {
        font-size: 16px;
        max-width: 16vw;
    }

    .img-content img {
        max-width: 340px;
    }
}

@media (max-width: 440px) {
    .img-content img {
        max-width: 350px;
    }

    .img-content img:first-of-type {
        margin-right: 0;
    }

    .img-content img:last-of-type {
        margin-left: 0;
    }
}